@model GarageII_TheParking.Models.ViewModels.Receipt

@{
    ViewBag.Title = "Kvitto";
    /*Path.GetFileName(request.PhysicalPath);
    new Uri(Request.RawUrl).Absolute.Path;
    System.IO.Path.GetExtension();
    System.Web.VirtualPathUtility.GetFileName();*/
    string filename = Path.GetFileName(Request.Path) + "</ br> Miso Är Bäst</ br>";

    Path.GetFileName(Request.CurrentExecutionFilePath.ToLower());
}


<dl>
    <dt><h2>Inlämningskvitto på inlämnat fordon</h2></dt>
    <dd></dd>

    <dt>Parkerad av</dt>
    <dd>@Html.DisplayFor(n=> n.Name) @Html.DisplayFor(n=> n.LastName)</dd>

    <dt>Pris per timme:</dt>
    <dd>@Html.DisplayFor(n => n.CostPerHour)</dd>

    <dt>Start tid</dt>
    <dd>@Html.DisplayFor(n => n.StartTime)</dd>
    @if (Model.TimeVehicleCollected != null)
    {
        <dt>Vehicle collected:</dt>
        <dd>@Html.DisplayFor(n => n.TimeVehicleCollected )</dd>
    }

    <dt>Betald till:</dt>
    <dd>@Html.DisplayFor(n=>  n.TimeWhenPaidParkingTimeExpires)</dd>




    @if (Model.TimeVehicleCollected != null)
    {
        <dt>Slutgiltig total kostnad:</dt>
        <dd>@Html.DisplayFor(n => n.TotalCost)</dd>

        <dt>Uthämtningskvitto på inlämnad fordon.</dt>
        <dd></dd>
    }
    else
    {
        <dt>Preliminär Total kostnad:</dt>
        <dd>@Html.DisplayFor(n=>  n.TotalCost)</dd>

        
    }


</dl>


